

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap">
<header>
    <div class="head-top">
        <div class="top-left">
            <img src="../../assets/desktop/logo.svg">
        </div>
        <div class="top-right">
            <img src="../../assets/desktop/icon-sun.svg">
            <img src="../../assets/desktop/element.svg" >
            <img src="../../assets/desktop/icon-moon.svg">
        </div>
    </div>
</header>

<div class="search-container">
    <div class="filter-title">
        <img src="../../assets/desktop/icon-search.svg">
        <input type="text" placeholder="Filter by title, companies, expertise...">
    </div>
    <div class="filter-location">
        <img src="../../assets/desktop/icon-location.svg">
        <input type="text" placeholder="Filter by location...">
    </div>
    <div class="filter-time">
        <div class="full-time">
            <input type="checkbox">
            <span>Full Time Only</span>
        </div>
        <button>Search</button>
    </div>
</div>