*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   position: relative;
}
header{
    background-image: url('../../assets/desktop/bg-pattern-header.svg');
    display: flex;
    align-items: center;
    overflow-x: hidden;
    height: 160px;
}
.head-top{
    display: flex;
    justify-content: space-between;
    width: 83%;
    position: absolute;
    margin: 2rem 8rem;
    margin-bottom: 3rem;
}
.top-right img:nth-child(1){
    margin-right: 1rem;
}
.top-right img:nth-child(3){
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}
.search-container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem 5rem 0 8rem;
    background-color: #fff;
    border-radius: 5px;
    height: 4.1rem;
}
.filter-title{
    display: flex;
    align-items: center;
}
.filter-title img{
    margin-right: 1rem;
}
.filter-title input{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 20rem;
    border: none;
    font-size: 1rem;
    color: #979797;
}
.filter-location{
    display: flex;
    align-items: center;
    border-left: 1px solid #979797;
    padding-left: 2rem;
    height: 4rem;
}
.filter-location img{
    margin-right: 1rem;
}
.filter-location input{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 20rem;
    border: none;
    font-size: 1rem;
    color: #979797;
}
.filter-time{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.9rem;
    width: 20rem;
    border-left: 1px solid #979797;
    padding-left: 2rem;
    height: 4rem;
}
.filter-time span{
    font-size: 1rem;
    font-weight: bold;
}
.filter-time button{
    background-color: #5964E0;
    color: #FFFFFF;
    border: none;
    width: 8rem;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1rem;
    height: 3rem;
}
.full-time input{
    margin-right: 1rem;
}


/* QUERY FOR TABLET */
@media (min-width: 768px) and (max-width: 1114px){
    .head-top{
        width: 90%;
        margin: 0 2rem;
    }
    .search-container{
        margin: -2.5rem 0 0 2rem;
        width: 93%;
    }
    .filter-title input{
        width: 10rem;
    }
    .filter-location input{
        width: 10rem;
    }
    .filter-time button{
       width: 5rem;
       height: 3rem;
    }
    .full-time input{
        margin-left: -1rem;
    }
    
}


/* QUERY FOR MOBILE */
@media (min-width: 320px) and (max-width: 450px){
    header{
       background-image: url(../../assets/mobile/bg-pattern-header-mobile.svg);
    }
    .head-top{
        width: 85%;
        margin: 0 1rem;
        margin-top: -3rem;
    }

} 
