*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   position: relative;
}
header{
    background-image: url('../../assets/desktop/bg-pattern-header.svg');
    display: flex;
    align-items: center;
    overflow-x: hidden;
    height: 160px;
}
.head-top{
    display: flex;
    justify-content: space-between;
    width: 83%;
    position: absolute;
    margin: 2rem 8rem;
    margin-bottom: 3rem;
}
.top-right{
    display: flex;
    align-items: center;
}
.top-right img:nth-child(1){
    margin-right: 1rem;
    width: 1.25rem;
    height: 1.163rem;
}
 .text-right img:nth-child(2){
     background-color: #5964E0;
 }
 .top-right img:nth-child(3){
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 1rem;
}
.btn-container{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color: #fff;
    width: 3rem;
    height: 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
    position: relative;
}
.button::before{
    position: absolute;
    content: '';
    background-color: #4169E1;
    width: 1rem;
    height: 1rem;
    border-radius: 3rem;
    margin: 0.3rem;
    transition: 0.2s;
}
input:checked + .button{
    background-color: #ffffff;
}
input:checked + .button::before{
    background-color: #4169E1 ;
    transform: translateX(20px);
}
.btn-container input{
    display: none;
}
.search-container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem 5rem 0 8rem;
    background-color: #fff;
    border-radius: 5px;
    height: 4.1rem;
}
.mobile-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20.438rem;
    height: 5rem;
    background-color: #fff;
    margin: 0 auto;
    display: none;
}
.text p{
    margin-left: 1rem;
    font-size: 1rem;
    color: #979797;
}
.filter-title{
    display: flex;
    align-items: center;
}
.filter-title img{
    margin-right: 1rem;
}
.filter-title input{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 20rem;
    border: none;
    font-size: 1rem;
    color: #979797;
}
.filter-location{
    display: flex;
    align-items: center;
    border-left: 1px solid #979797;
    padding-left: 2rem;
    height: 4rem;
}
.filter-location img{
    margin-right: 1rem;
}
.filter-location input{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 20rem;
    border: none;
    font-size: 1rem;
    color: #979797;
}
.filter-time{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.9rem;
    width: 20rem;
    border-left: 1px solid #979797;
    padding-left: 2rem;
    height: 4rem;
}
.filter-time span{
    font-size: 1rem;
    font-weight: bold;
}
.filter-time button{
    background-color: #5964E0;
    color: #FFFFFF;
    border: none;
    width: 8rem;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1rem;
    height: 3rem;
}
.full-time input{
    margin-right: 1rem;
}


/* QUERY FOR TABLET */
@media (min-width: 768px) and (max-width: 1114px){
    .head-top{
        width: 90%;
        margin: 0 2rem;
    }
    .search-container{
        margin: -2.5rem 0 0 2rem;
        width: 93%;
    }
    .filter-title input{
        width: 10rem;
    }
    .filter-location input{
        width: 10rem;
    }
    .filter-time button{
       width: 5rem;
       height: 3rem;
    }
    .full-time input{
        margin-left: -1rem;
    }
    
}


/* QUERY FOR MOBILE */
@media (min-width: 320px) and (max-width: 450px){
    header{
       background-image: url(../../assets/mobile/bg-pattern-header-mobile.svg);
       height: 8.5rem;
    }
    .head-top{
        width: 85%;
        margin: 0 1rem;
        margin-top: -3rem;
    }
    .search-container{
        display: none;
    }
    .mobile-search{
        width: 90%;
        display: block;
        display: flex;
        margin-top: -2.5rem;
    }
    .text-right{
        margin: 1.5rem;
    }
    .text-right img:nth-child(1){
        margin-bottom: 0.5rem;
    }
    .text-right img:nth-child(2){
        margin-left: 1rem;
        padding: 10px;
    }

} 
