

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap">
<header>
    <div class="head-top">
        <div class="top-left">
            <img src="../../assets/desktop/logo.svg">
        </div>
        <div class="top-right">
            <img src="../../assets/desktop/icon-sun.svg">
            <div class="btn-container">
                <input type="checkbox" id="check" (change)="toggleTheme($event)">
                <label for="check" class="button"></label>
            </div>
            <img src="../../assets/desktop/icon-moon.svg">
        </div>
    </div>
</header>
