
.search-container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem 5rem 0 8rem;
    background-color: #fff;
    border-radius: 5px;
    height: 4.1rem;
}
.mobile-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20.438rem;
    height: 5rem;
    background-color: #fff;
    margin: 0 auto;
    display: none;
}
.text p{
    margin-left: 1rem;
    font-size: 1rem;
    color: #979797;
}
.filter-title{
    display: flex;
    align-items: center;
}
.filter-title img{
    margin-right: 1rem;
}
.filter-title input{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 20rem;
    height: 4rem;
    border: none;
    font-size: 1rem;
    color: #979797;
}
.filter-location{
    display: flex;
    align-items: center;
    border-left: 1px solid #979797;
    padding-left: 2rem;
    height: 4rem;
}
.filter-location img{
    margin-right: 1rem;
}
.filter-location input{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 20rem;
    height: 4rem;
    border: none;
    font-size: 1rem;
    color: #979797;
}
.filter-time{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1.9rem;
    border-left: 1px solid #979797;
    height: 0.5rem;
    padding-left: 2rem;
    width: 20rem;
}
.filter-time span{
    font-size: 1rem;
    font-weight: bold;
}
.filter-time button{
    background-color: #5964E0;
    color: #FFFFFF;
    border: none;
    width: 8rem;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1rem;
    height: 3rem;
}
.full-time input{
    margin-right: 1rem;
}


.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 4rem 4rem;
    gap: 2rem;
}
.border{
   width: 3.125rem;
   height: 3.125rem;
   background-color: #E99210;
   border-radius: 0.8rem;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: -1rem;
   margin-left: 2rem;
}
.card{
    width: 22.813rem; 
    height: 14.438rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 1px solid #fff;
}
.card-content{
   margin-left: 2rem;
}
.card-content p:nth-child(1){
    color: #6E8098;
}
.card-content p:nth-child(2){
  color: #19202D;
  font-size: 1.25rem;
  font-weight: bold;
}
.card-content p:nth-child(3){
    color: #6E8098;
    font-size: 1rem;
}
.card-content p:nth-child(4){
    color: #5964E0;
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
} 
button{
    width: 8.813rem;
    height: 3rem;
    background-color: #5964E0;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


/* QUERY FOR TABLET */
@media (min-width: 768px) and (max-width: 1114px){
    .search-container{
        margin: -2.5rem 0 0 2rem;
        width: 93%;
    }
    .filter-title input{
        width: 10rem;
    }
    .filter-location input{
        width: 10rem;
    }
    .filter-time button{
       width: 5rem;
       height: 3rem;
    }
    .full-time input{
        margin-left: -1rem;
    }
   .grid-container{
    grid-template-columns: repeat(2, 1fr);
    width: 92%;
    margin: 3rem auto;
    gap: 2rem;
   }
   .card{
    width: 21.188rem;
    height: 14.25rem;
   }
}



/* QUERY FOR MOBILE */
@media (min-width: 320px) and (max-width: 450px){
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 3rem auto;
    }
    .card{
        width: 20rem; 
        height: 14.25rem;
        margin: auto;
    }
    .search-container{
        display: none;
    }
    .content {
        position: absolute;
        background: white;
        padding: 1em 2em;
        border-radius: 4px;
    }
    .mobile-search{
        width: 90%;
        display: block;
        display: flex;
        margin-top: -2.5rem;
    }
    .text-right{
        margin: 1.5rem;
    }
    .text-right img:nth-child(1){
        margin-bottom: 0.5rem;
    }
    .text-right img:nth-child(2){
        margin-left: 1rem;
        padding: 10px;
        background-color: #5964E0;
    }
}

@media (max-width: 320px){
    .card{
        width: 17rem;
    }
    .card-content p:nth-child(4){
        margin-top: 0;
    }

}

.pop{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 20.438rem;
    height: 13.563rem;
    background-color: #FFFFFF;
    border-radius: 0.3rem;
    /* display: none; */
}
.first{
    display: flex;
    margin-top: 1rem;
    margin-left: 2rem;
    border-bottom: 1px solid #6E8098;
    padding-bottom: 1.5rem;
}
.first input{
  border: none;
  margin-left: 1rem;
  font-size: 1rem;
  font-size: 1rem;
}


/* MEDIA QUERY FOR PHONE */
@media (min-width: 320px) and (max-width: 450px){
.pop{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;  
    height: 13.563rem;
    background-color: #FFFFFF;
    border-radius: 0.3rem;
}
.pop button{
    width: 17.438rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    background-color: #5964E0;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
}
.last{
   margin: 0 auto;
}
.last input{
    margin-bottom: 1.5rem;
    border: none;
}
.last span{
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1rem;
}
}