
<app-header></app-header>
<div class="search-container">
  <div class="filter-title">
      <img src="../../assets/desktop/icon-search.svg">
      <input type="text" name="seacrh" placeholder="Filter by title, companies, expertise..." [(ngModel)]="searchText">
  </div>
  <div class="filter-location">
      <img src="../../assets/desktop/icon-location.svg">
      <input type="text" placeholder="Filter by location...">
  </div>
  <div class="filter-time" style="position: relative;">
      <div class="full-time">
          <input type="checkbox">
          <span>Full Time Only</span>
      </div>
      <button>Search</button>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
            <div class="pop">
            <div class="first">
                <img src="../../assets/desktop/icon-location.svg">
                <input type="text" placeholder="Filter by location" >
            </div>
            <div class="last">
                <input type="checkbox">
                <span>Full Time Only</span> 
                <button>Search</button>
            </div>
   
</div>
        </div>
      </div>
    </div>
  </div>


<div class="mobile-search">
  <div class="text">
      <p>Filter by title...</p>
  </div>
  <div class="text-right">
      <img src="../../assets/mobile/icon-filter.svg"  data-bs-toggle="modal" data-bs-target="#exampleModal">
      <img src="../../assets/mobile/mobile-search.svg">
  </div>
</div>
<app-pop-up></app-pop-up>




<div>
<div class="grid-container" *ngFor = "card of cards">
  <div class="card"  *ngFor = "let job of data" (click) = "onCardClick(job)">
    <div class="border" [style.backgroundColor] = "job.logoBackground">
       <img src="{{job.logo}}"  >
    </div>
        <div class="card-content">
                <p>{{job.postedAt}} . {{job.contract}}</p>
                <p>{{job.position}}</p>
                <p>{{job.company}}</p>
                <p>{{job.location}}</p>
        </div>
  </div>
</div>
<div class="btn-container">
    <button>Load More</button>
</div>
</div>
