<div>
<app-header></app-header>
<div class="grid-container" >
  <div class="card"  *ngFor = "let job of data" (click) = "onCardClick(job)">
    <div class="border" [style.backgroundColor] = "job.logoBackground">
       <img src="{{job.logo}}" >
    </div>
        <div class="card-content">
                <p>{{job.postedAt}} . {{job.contract}}</p>
                <p>{{job.position}}</p>
                <p>{{job.company}}</p>
                <p>{{job.location}}</p>
        </div>
  </div>
</div>
<div class="btn-container">
    <button>Load More</button>
</div>
</div>
