header{
    background-image: url('../../assets/desktop/bg-pattern-header.svg');
    display: flex;
    align-items: center;
    overflow-x: hidden;
    height: 160px;
}
.head-top{
    display: flex;
    justify-content: space-between;
    width: 83%;
    position: absolute;
    margin: 2rem 8rem;
    margin-bottom: 3rem;
}
.top-right img:nth-child(1){
    margin-right: 1rem;
}
.top-right img:nth-child(3){
    margin-left: 1rem;
    margin-bottom: 0.3rem;
}
.container{
    display: flex;
    margin: 0 auto;
    width: 45.625rem;
    height: 8.75rem;
    border-radius: 0.3rem;
    background-color: #FFFFFF;
    margin-top: -2.5rem;
    display: flex;
    justify-content: space-between;
}
.border{
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}
.border img{
    height: 3rem;
    width: 4rem;
}
.container-left{
    display: flex;
}
.container-middle p:nth-child(1){
    color: #19202D;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: -0.5rem;
}
.container-middle p:nth-child(2){
    font-size: 1rem;
    color: #6E8098;
}
.container-middle{
    margin-left: 4rem;
    margin-top: 1rem;
}
.container-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.188rem;
    height: 3rem;
    background-color: #F4F6F8;
    margin-right: 3rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
}
.container-right p{
    color: #5964E0;
    font-size: 1rem;
    font-weight: bold;
}
.main-container{
    width: 45.625rem;
    height: 78.563rem;
    background-color: #FFFFFF;
    margin: 3rem auto;
    border-radius: 0.5rem;
}
.top-content{
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}
.top-content p:nth-child(1){
    font-size: 1rem;
    color: #6E8098;
    margin-bottom: -1rem;
}
.top-content p:nth-child(2){
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: -0.3rem;
}
.top-content p:nth-child(3){
    font-size: 0.875rem;
    font-weight: bold;
    color: #5964E0;
}
.left{
   margin: 2rem 0;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right button{
    background-color: #5964E0;
    width: 8.813rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
}
.dummy-text p{
    width: 39.938rem;
    margin: 0 4rem;
    color: #6E8098;
    line-height: 2rem;
}
.dummy-text h3{
    font-size: 1.25rem;
    color: #19202D;
    margin: 2rem 4rem;
}
footer{
    width: 100%;
    height: 6rem;
    background-color: #FFFFFF;
}
.footer-container{
    width: 45.625rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
}
.f-left p:nth-child(1){
    font-size: 1.25rem;
    font-weight: bold;
}
.f-left p:nth-child(2){
    color: #6E8098;
    font-size: 1rem;
}
.btn-container button{
    background-color: #5964E0;
    width: 8.813rem;
    height: 3rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
}

/* QUERY FOR TABLET */
@media (min-width: 768px) and (max-width: 1114px){
    .head-top{
        width: 90%;
        margin: 0 2rem;
    }
    .container{
        width: 43.063rem;
    }
    .main-container{
        width: 43.063rem;
    }
    .footer-container{
        width: 43.063rem;
    }
    .top-content{
        margin: 0 3rem;
    }
    .dummy-text p{
        margin: 0 3rem;
        width: 37.063rem;
    }
    .dummy-text h3{
        margin: 2rem 3rem;
    }
    
}



/* QUERY FOR MOBILE */
@media (min-width: 320px) and (max-width: 450px){
    header{
       background-image: url(../../assets/mobile/bg-pattern-header-mobile.svg);
       height: 8.5rem;
    }
    .head-top{
        width: 85%;
        margin: 0 1rem;
        margin-top: -3rem;
    }
    .search-container{
        display: none;
    }
    .mobile-search{
        width: 90%;
        display: block;
        display: flex;
        margin-top: -2.5rem;
    }
    .container{
       width: 20.438rem;
       height: 12.813rem;
       display: flex;
       flex-direction: column;
       margin-top: -2rem;
    }
    .border{
        width: 3.125rem;
        height: 3.125rem;
        margin-left: 8rem;
        margin-top: -1.5rem;
    }
    .border img{
        width: 2.499rem;
        height: 0.714rem;
    }
    .container-middle{
        margin-left: -4rem;
    }
    .container-right{
        margin: 0 2rem 2rem 5rem;
    }
    .main-container{
        width: 20.438rem;
        height: 151.313rem;
    }
    .top-content{
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
    }
    .top-content p:nth-child(2){
       font-size: 1.25rem;
    }
    .right button{
        width: 17.438rem;
        height: 3rem;
    }
    .dummy-text p{
        width: 17.375rem;
        margin: 2rem 1rem;
    }
    .dummy-text h3{
        margin: 2rem 1rem;
    }
    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer-container{
        display: block;
        display: flex;
        width: 20.438rem;
        justify-content: center;
        align-items: center;
    }
    .f-left{
        display: none;
    }
    .btn-container button{
        width: 17.438rem;
        height: 3rem;
        
    }
}

@media (max-width: 320px){
   .container{
    width: 18rem;
   }
   .main-container{
    width: 18rem;
   }
   .dummy-text p{
    width: 16rem;
   }
}
  

   
