
<header>
    <div class="head-top">
        <div class="top-left">
            <img src="../../assets/desktop/logo.svg">
        </div>
        <div class="top-right">
            <img src="../../assets/desktop/icon-sun.svg">
            <img src="../../assets/desktop/element.svg" >
            <img src="../../assets/desktop/icon-moon.svg">
        </div>
    </div>
</header>

<div  *ngIf="selectedJob">
<div class="container" >
    <div class="container-left">
        <div class="border" [style.backgroundColor] = "selectedJob.logoBackground">
            <img [src]="selectedJob.logo">
        </div>
        <div class="container-middle">
            <p>{{selectedJob.company}}</p>
            <p>{{selectedJob.company}}.com</p>
        </div>
    </div>
    <div class="container-right">
       <p>Company Site</p>
    </div>
</div>
<div class="main-container">
    <div class="top-content">
        <div class="left">
            <p>{{selectedJob.postedAt}} . {{selectedJob.contract}}</p>
            <p>{{selectedJob.position}}</p>
            <p>{{selectedJob.location}}</p>
        </div>
        <div class="right">
            <button>Apply Now</button>
        </div>
    </div>
    <div class="dummy-text">
        <p>{{selectedJob.description}}</p>
        <h3>Requirements</h3>
           <p>{{selectedJob.requirements.content}}</p>
           <p>{{selectedJob.requirements.selectedJobs}}</p>
        <h3>What You Will Do</h3>
           <p>{{selectedJob.role.content}}</p>
           <p>{{selectedJob.role.selectedJobs}}</p>
    </div>
</div>

<footer>
    <div class="footer-container">
       <div class="f-left">
            <p>{{selectedJob.position}}</p>
            <p>{{selectedJob.company}} .inc</p>  
       </div>
       <div class="btn-container">
        <button>Apply Now</button>
       </div>
    </div>
</footer>
</div>



