body{
    background-color: #F4F6F8;
    font-family: 'kumbh Sans', sans-serif;
    position: relative;
}

.dark-theme {
    background-color: #121212; 
    color: #ffffff; 
    
  }
  
  body.dark-theme{
    background-color: #121212; 
    color: #ffffff; 
  }